@model SchoolManagementSoft.Models.Admission.AdmissionFrom

@{
    ViewBag.Title = "Adminission From";
}



<div class="container body">
    <div class="main_container">

        <div role="main">
            <div class="">

                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-1">
                        <div class="card">

                            <div class="card-header" style="background-color:#2A3F54">
                                <h3 style="text-align:center; color:#ffffff; font-size:15px; font-family:'Times New Roman' "><b>ACCOUNT SUB SUB HEAD</b></h3>
                                <div class="clearfix"></div>
                            </div>



                            <div class="card-body">
                                <br />
                                <div style="font-family:'Times New Roman'; font-size:15px; color:black;">


                                    <div class="item form-group">
                                        <label class="col-form-label col-md-4 col-sm-4 label-align" for="Name">
                                            Name <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <input type="text" id="Name" required="required" class="form-control">
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="col-form-label col-md-4 col-sm-4 label-align" for="Class Name">
                                            Class Name <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4 col-sm-4 ">
                                            @Html.DropDownListFor(model => model.ClassID, (IEnumerable<SelectListItem>)ViewBag.LoadAllClass, new { @class = "form-control js-example-theme-single" })
                                            @*<input type="text" id="Account_Code" required="required" class="form-control ">*@
                                        </div>
                                    </div>




                                    <div class="item form-group">
                                        <label class="col-form-label col-md-4 col-sm-4 label-align" for="Nationality">
                                            Nationality
                                        </label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <input id="Nationality" class="form-control" type="text" name="Nationality" value="Bangladesh">
                                            @*@Html.DropDownListFor(model => model.AccType, (IEnumerable<SelectListItem>)ViewBag.AccSubCode, new { @class = "form-control js-example-theme-single" })*@
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="col-form-label col-md-4 col-sm-4 label-align" for="Religion">
                                            Religion <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <input type="text" id="Religion" class="form-control">
                                        </div>
                                    </div> 
                                    
                                    
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-4 col-sm-4 label-align" for="Address">
                                            Address 
                                        </label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <input type="text" id="Address" class="form-control">
                                        </div>
                                    </div>

                                     <div class="item form-group">
                                         <label class="col-form-label col-md-4 col-sm-4 label-align" for="DateofBirth">
                                             Date of Birth
                                         </label>
                                         <div class="col-md-4 col-sm-4 ">                                           
                                             <input type="date" class="form-control date" value="@DateTime.Now.ToString("MM-dd-yyyy")" id="DateofBirth">
                                         </div>
                                    </div>
                                    
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-4 col-sm-4 label-align" for="Gender">
                                            Gender
                                        </label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <input type="text" id="Gender" class="form-control">
                                        </div>
                                    </div>
                                    
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-4 col-sm-4 label-align" for="BloodGroup">
                                            Blood Group
                                        </label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <input type="text" id="BloodGroup" class="form-control">
                                        </div>
                                    </div>


                                    <div class="ln_solid"></div>
                                    <div class="item form-group">
                                        <div class="col-md-6 col-sm-6 offset-md-4">
                                            <button type="button" class="btn btn-success" id="btnAdd" onclick="return Add();"> Submit </button>
                                            <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none" onclick="Update();">Update</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<div class="container">

    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ajaxModal" onclick="clearInput();">Add Zone</button>*@
    <table class="table table-striped table-bordered" style="width:100%" id="tbl">
        <thead>
            <tr>
                <th>SL</th>
                <th>Name</th>
                <th>Class</th>
                <th>Nationality</th>
                <th>Religion</th>
                <th>Address</th>
                <th>DateofBirth</th>
                <th>Gender</th>
                <th>BloodGroup</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
</div>





@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        Date.prototype.toDateInputValue = (function () {
            var local = new Date(this);
            local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
            return local.toJSON().slice(0, 10);
        });

        $(document).ready(function () {
            $('#DateofBirth').val(new Date().toDateInputValue());
            //$('#MDate1').val(new Date().toDateInputValue());
            //$('#PDate').val(new Date().toDateInputValue());
        });


        $('.select2').select2();
        $(".js-example-theme-single").select2({
            theme: "classic"
        });


        var AreaList = [];


        var tbl = $('#tbl').DataTable({

        });

        function loadData() {
            AreaList = [];
            $.ajax({
                url: "/Adminission/List",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = '';
                    $.each(result, function (key, item) {
                        var singleRowArea = { AID:0, Name: '', ClassID: 0, Nationality: '', Religion: '', Address: '', DateofBirth: '', Gender: '', BloodGroup:''}
                        singleRowArea.AID = item.AID;
                        singleRowArea.Name = item.Name;
                        singleRowArea.ClassID = item.ClassID;
                        singleRowArea.Nationality = item.Nationality;
                        singleRowArea.Religion = item.Religion;
                        singleRowArea.Address = item.Address;
                        singleRowArea.DateofBirth = item.DateofBirth;
                        singleRowArea.Gender = item.Gender;
                        singleRowArea.BloodGroup = item.BloodGroup;
                        AreaList.push(singleRowArea);
                    });
                    showOnGrid();
                    //$('.tbody').html(html);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        function showOnGrid() {
            tbl.clear().draw();
            var id = 1;
            $.each(AreaList, function (index, value) {
                tbl.row.add([id, value.Name, value.ClassID, value.Nationality, value.Religion, value.Address, value.DateofBirth, value.Gender, value.BloodGroup, '<td><a href="#" onclick="return GetbyID(' + value.AID + ')">Edit</a> | <a href="#" onclick="Delete(' + value.AID + ')">Delete</a></td>']).draw();
                id++;
            });
        }



        function Add() {

            var zoneobj = {
                Name: $('#Name').val(),
                ClassID: $('#ClassID').val(),
                Nationality: $('#Nationality').val(),
                Religion: $('#Religion').val(),
                Address: $('#Address').val(),
                DateofBirth: $('#DateofBirth').val(),
                Gender: $('#Gender').val(),
                BloodGroup: $('#BloodGroup').val()
            };

            $.ajax({
                url: "/Adminission/Add",
                data: JSON.stringify(zoneobj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    AreaList = [];
                    loadData();
                    $('#ajaxModal').modal('hide');
                    clearInput();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }



        //Function for getting the Data Based upon Product ID
        function GetbyID(AID) {

            $.ajax({
                url: "/Adminission/GetbyID/" + AID,
                typr: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    $('#AID').val(result.AID);
                    $('#Name').val(result.Name);
                    $('#ClassID').val(result.ClassID).change();
                    $('#Nationality').val(result.Nationality);
                    $('#Religion').val(result.Religion);
                    $('#Address').val(result.Address);
                    $('#DateofBirth').val(result.DateofBirth);
                    $('#Gender').val(result.Gender);
                    $('#BloodGroup').val(result.BloodGroup);


                    $('#ajaxModal').modal('show');
                    $('#btnUpdate').show();
                    $('#btnAdd').hide();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
            return false;
        }

        //function for updating product record
        function Update() {

            var zoneobj = {
                AID: $('#AID').val(),
                Name: $('#Name').val(),
                ClassID: $('#ClassID').val(),
                Nationality: $('#Nationality').val(),
                Religion: $('#Religion').val(),
                Address: $('#Address').val(),
                DateofBirth: $('#DateofBirth').val(),
                Gender: $('#Gender').val(),
                BloodGroup: $('#BloodGroup').val()

            };
            $.ajax({
                url: "/Adminission/Update",
                data: JSON.stringify(zoneobj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    loadData();
                    $('#ajaxModal').modal('hide');
                    $('#Name').val(""),
                        $('#AID').val(""),
                        $('#ClassID').val(""),
                        $('#Nationality').val(""),
                        $('#Religion').val(""),
                        $('#Address').val(""),
                        $('#DateofBirth').val(""),
                        $('#Gender').val(""),
                        $('#BloodGroup').val("")
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }



        function Delete(AID) {
            var ans = confirm('Are you sure? you want to delete this Record?');

            if (ans) {
                $.ajax({
                    url: "/Adminission/Delete/" + AID,
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        loadData();
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
        }



        function clearInput() {
            $('#Name').val("");
            $('#ClassID').val("");
            $('#Nationality').val("");
            $('#Religion').val("");
            $('#Address').val("");
           // $('#DateofBirth').val("");
            $('#Gender').val("");
            $('#BloodGroup').val("");          
        }


        $(document).ready(function () {
            loadData();
        });



    </script>
}
